.footer{
    padding: 120px 0 80px 0;
    background: var(--bg-color2) ;
}

.footer_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--bg-color-6);
    padding-bottom: 30px ;
    color: var(--text-color1);
}

.footer_header_title{
    font-size: 30px;
}

.link_map{
    color: var(--text-color1);
    font-size: 30px;
    font-weight: 300;
}

.footer_num{
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}

.footer_body{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_body_con{
    color: var(--text-color1);
}

.footer_body_con_list{
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
}

.footer_body_con_list li{
    margin-bottom: 13px;
    color: var(--text-color5);
}

.footer_footer_con{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_footer_socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_icon{
    color: var(--text-color1);
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 5px;
}

.footer_form_icon{
    vertical-align: middle;
    margin-left: 10px;
}

.footer_con_link{
    color: var(--text-color5);
}