.header{
    width: 100%;
    height: 100vh;
    background: var(--bg-color1);
    position: relative;
}


.header_bg{
    position: absolute;
    right: 0;
    top: 170px;
    
}

.bg_img{
    right: 0;
    position: absolute;
    z-index: 1;
}
.container_text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.header_text_2{
    position: relative;
    font-size: 1.5rem;
    line-height: 34px;
    font-weight: 300; 
}

.con_text_2{
    padding-left: 25px;
    position: relative;
}


.con_text_2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 8px);
    width: 5px;
    background: var(--text-color2);
}


.booleets{
    display: flex;
    justify-content: flex-start;
}
.bool_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}

.bool_con_circle{
    display: inline-block;
    width: 90px;
    height: 90px ;
    background: var(--bg-color3);
    border-radius: 50%;
}
.bool_con_circle{
    position: relative;
    margin-right: 25px;
}
.bool_text{
    vertical-align: middle;
    line-height: 28px;
}

.bool_text_bold{
    font-weight: 800;
}
.bool_con_circle::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 68px;
    height: 68px;
    border: 2px solid var(--bg-color1);
}
.svg_star{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.order_services_btn{
    
background: var(--bg-color-4);
color: var(--text-color1);
border: 2px solid var(--bg-color-4);
margin-right: 25px;
    
}

.get_an_offer_btn{
    background: none;
    color: var(--text-color2);
    border: 2px solid var(--bg-color-4);
}

.order_services_btn, .get_an_offer_btn{
    padding: 20px 44px;
    font-size: 18px;
}