
.reviews{
    width: 100%;
    padding: 80px 0 150px 0;
    background: var(--bg-color1);

}

.reviews_swipe{
    overflow: hidden;
}

.reviews_swiper_card_text{
    line-height: 25px;
}


.reviews_title{
    width: 100%;
    text-align: center;
    margin-bottom: 65px;
}
.reviews_swiper{
    width: 200%;
    display: flex;
    justify-content: space-around;
    transition: transform 1s ease;
}

.reviews_swiper_card{
    padding: 40px 130px 35px 40px;
    background: var(--bg-color3);
}

.card_stars{
    margin-bottom: 15px;
}

.link_stars{
    text-decoration: none;
}

.link_stars svg{
    color: var(--text-color2);
}

.reviews_left{
    right: 102%;
}

.reviews_right{
    left: 102%;
    
}


.indicatior_revies_cards{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
}

.indicatior_cards{
    margin: 0 4px;
    width: 20px;
    height: 7px;
    border-radius: 5px;
    background: var(--bg-color-6);
}